.parent {
    background-color: bisque;
    box-shadow: 0 0 5px black;
    position: relative;
    width: 400px;
    margin: 30px auto;
}

.floating-absolute {
    background-color: white;
    padding: 10px;
    margin: 0;
    display:inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.floating-absoliute p {
    margin: 0;
}

.content {
    padding: 0 20px 30px;
}

.image-block {
    background-image: url(./photo/woman-book.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
}

.parent1 {
    background-color: bisque;
    box-shadow: 0 0 5px black;
    position: relative;
    width: 400px;
    margin: 30px auto;
}

.floating-absolute1 {
    background-color: white;
    padding: 10px;
    margin: 0;
    display:inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.floating-absoliute1 p {
    margin: 0;
}

.content1 {
    padding: 0 20px 30px;
}

.image-block1 {
    background-image: url(./photo/man-laptop.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
}

