html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: palegreen;
    font-family: Arial, sans-serif;
}

header {
    background-image: url(./nuotraukos/pexels-luca-dross-7814489.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

header #info {
    margin: 0;
    background-color: transparent;
    width: 60%;
    position: absolute;
    left: 10vw;
    bottom: 20vh;
    
}

header #info h1 {
 margin: 0;
 display: inline-block;
 background-color: rgba(255, 255, 255, 0.7);
color: black;
font-size: 5em;
letter-spacing: 0.2em;
text-transform: uppercase;
}

header #info p {
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    width: 60%;
}

div {
    background-color: grey;
    color: rebeccapurple;
    max-width: 80%;
    margin: 5em auto;
    
}

#div1 {
    border: 12px solid gold;
    box-shadow: 5px 5px 15px black;
}

#div2 {
    padding: 5em;
    border-radius: 150px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0, 5);
    

   
}

#div3 {
    padding: 5em 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 9px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 10px solid green;
}

#div4 {
    padding: 0 5em 1em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50p;
    /*arba*/
    border-radius: 20px 0 50px 0;

}

#div5 {
    padding: 0 0 5em;
    position: relative;
    border-left: 10px dashed red;
}

#div5 span {
    position: absolute;
}

#div6 ul li {
    display: inline;
}

#div7 form {
    background-color: red;
    padding: 1em;
    width: 500px;

}

#div7 form input {
    display: block;
}

#div8 p, #div8 a {
    font-size: 2em;
}

#div8 mark:hover {
    position: relative;
    bottom: 10px;
}


#div8 a:hover {
    position: relative;
    left: 20px;
    transition: left 3500ms ease-out;
}

/* nav pasiziureti*/

    #virsus-blokas  {
    background-color: goldenrod;
    padding: 1em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    margin: 0;
    border-radius: 25px;
   }

    #virsus-blokas a {
        color: black;
        text-decoration: none;
    }

    