body {
    background-color: papayawhip;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

h1 {
    background-color: white;
    background-size: 150px;
    order: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}

#pirmas-paragrafas {
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    }

    #pirmas paragrafas  form {
        background-color: papayawhip;
        padding: 1em;
        position: fixed;
        bottom: 2em;
        right: 2em;
        margin: 0;
       }
    
        #placiau a {
            color: black;
            text-decoration: none;
        }
    