body {
    background-color: #f3f3f3;
    font-family: Inter;
}

.parent {
    margin: 0 auto;
    width: 276px;
}

.card {
    width: 100%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 4px #797373;
    margin-bottom: 40px;
    
}

.image-block {
    background-image: url(./photos/food.jpg);
    background-size: cover;
    width: 100%;
    height: 176px;
    position: relative;
    border-radius: 12px 12px 0 0;
}

.date {
    background-color: white;
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: -28px;
    right: 15px;
    border-radius: 12px;
    box-shadow: 0 0 4px #797373;
}

    .date .day {
        
        font-weight: 600;
        size: 24px;
        line-height: 28px;
        text-align: center;
        color: #121212;
    }

    .date .month {
    
        size: 12px;
        line-height: 22px;
        letter-spacing: 0.2px;
        text-align: center;
        color: #121212;
        text-transform: uppercase;
    }


.card span {
   
    color: #959393;
    size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.card h3 {
    padding-bottom: 10px;
    color: #121212;
    font-weight: 700;
    size: 20px;
    line-height: 24px;
}

.content {
    padding: 10px;
}


.buttons {

    padding: 16px 0px 0px;
}

.buttons .save {
    
    background-image: url(./photos/save\ button.jpg);
    width: 32px;
    height: 32px;
    display: inline-block;
    
}

.buttons .share {

    background-image: url(./photos/share\ button.jpg);
    width: 32px;
    height: 32px;
    display: inline-block;
    
}

.image-block1 {
    
    background-image: url(./photos/meeting.jpg);
    background-size: cover;
    width: 100%;
    height: 176px;
    position: relative;
    border-radius: 12px 12px 0 0;
}

.image-block2 {
    background-image: url(./photos/couple.png);
    background-size: cover;
    width: 100%;
    height: 176px;
    position: relative;
    border-radius: 12px 12px 0 0;
    
}